<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peak Hiking</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="column" id="left">
            {{ iframe|safe }}
        </div>

        <div class="column" id="right">
            <h1>Peak Hikes</h1>

            <div class="settings">
                <h3>Points of Interest</h3>
                <form>
                    <label>pubs</label>
                    <input type="checkbox" name="poi-pubs" id="poi-pubs" value="poi-pubs"/>

                    <label>cafes</label>
                    <input type="checkbox" name="poi-cafes"/>

                    <label>viewpoints</label>
                    <input type="checkbox" name="poi-viewpoints"/>

                    <label>historic</label>
                    <input type="checkbox" name="poi-historic"/>

                    <label>villages</label>
                    <input type="checkbox" name="poi-villages"/>

                    <label>other</label>
                    <input type="checkbox" name="poi-other"/>

                </form>
            </div>
        </div>
    </body>
</html>